@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 150vh;
    overflow-x: hidden;

}

header {
    font-family: sans-serif;
    background-color: #0f172b;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

nav {
    font-size: 19px;
    padding-left: 360px;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    color: orange;
}

li:hover {
    transform: scale(120%);

}

li {
    padding: 15px 15px;
    border-radius: 30px;
    transition: 0.3s;
}

h2 {
    font-size: 30px;
    font-family: cursive;
    padding-left: 100px;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

@keyframes changeColor {
    from {
        color: orange;


    }

    30% {
        color: orange;
        transform: translate(32px, 32px);

    }

    70% {
        color: orange;
        transform: translate(60px, -37px);
    }

    to {
        color: orange;
    }
}

/* ==================================== */

h1 {
    margin-top: 100px;
    text-align: center;
    font-family: "Parisienne", serif;
    color: orange;
}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    color: #0f172b;
}

.div1 {
    display: flex;
    align-items: center;
    /* height: 100px; */
    width: 100%;
    margin-top: 80px;
    justify-content: space-evenly;

}

.div1 div {
    padding-left: 30px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: start; */


}

div h6 {
    font-size: 35px;
    font-family: "Parisienne", serif;
    color: orange;
    margin-top: 30px;
}

div p {
    font-size: 20px;
    margin-top: -80px;
    opacity: 50%;
}

.erti i {
    position: relative;
    top: -55px;
    left: -23px;

}

i {
    color: orange;
}

section {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec1 input::placeholder {
    opacity: 50%;
    position: relative;
    right: 20px;
}

#sec1 input {
    cursor: pointer;
    color: grey;
    font-size: 18px;
    padding: 15px 35px;
    border-radius: 3px;
    border: 2px solid rgb(255, 119, 0);
    margin-left: 10px;
    outline: 2px orange;
}

#sec1 input:hover {
    border: 3px solid orange;

}

#input1 {
    animation: firstInput 4s ease-out forwards;
    position: relative;
    left: -800px;
    animation-delay: 2s;

}

#input2 {
    position: relative;
    right: -800px;
    animation: secondInput 4s ease-out forwards;
    animation-delay: 2s;
}

@keyframes firstInput {
    0% {
        position: relative;
        left: -800px;


    }

    100% {
        position: relative;
        left: 0px;

    }

}

@keyframes secondInput {
    0% {
        position: relative;
        right: -800px;


    }

    100% {
        position: relative;
        right: 0px;

    }

}

.form2 {
    margin-top: 15px;

}

.form2 input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 355px;
    padding-left: 20px;
    position: relative;
    right: -1100px;
    border-radius: 3px;
    cursor: pointer;
    color: grey;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid rgb(255, 119, 0);
    outline: 2px orange;
    animation: fromRight 4s ease-out forwards;
    animation-delay: 2s;
}

.form2 input::placeholder {

    opacity: 50%;
    position: relative;
    left: -10px;
}

.form2 input:hover {
    border: 3px solid orange;
}

@keyframes fromRight {
    0% {
        position: relative;
        right: -1100;
    }

    100% {
        position: relative;
        right: -5px;
    }
}

textarea {
    margin-top: 15px;
    width: 590px;
    height: 100px;
    border: 2px solid rgb(255, 119, 0);
    border-radius: 3px;
    position: relative;
    left: 5px;
    outline: none;
    color: gray;
    font-size: 18px;
    opacity: 0;
    animation: textArea 3s linear forwards;
    animation-delay: 4s;
    background-color: rgb(244, 244, 247);
}

textarea::placeholder {
    opacity: 50%;
    color-scheme: grey;
    font-family: sans-serif;
    padding: 5px 5px;
    font-size: 18px
}

textarea:hover {
    border: 3px solid orange;
}

@keyframes textArea {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 20%;
    }

    40% {
        opacity: 40%;
    }

    60% {
        opacity: 60%;
    }

    80% {
        opacity: 80%;
    }

    100% {
        opacity: 100%;
    }
}

section input {
    background-color: rgb(244, 244, 247);
}

button {
    color: white;
    border: none;
    margin-top: 15px;
    background-color: orange;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 3px;
    width: 600px;
    height: 55px;
    position: relative;
    right: -5px;
    animation: button 3s linear forwards;
    animation-delay: 6s;
    opacity: 0;


}

@keyframes button {
    0% {
        opacity: 0;
        width: 100px;
        height: 9px;
        font-size: 3px;
    }

    20% {
        opacity: 20%;
        width: 200px;
        height: 18px;
        font-size: 6px;
    }

    40% {
        opacity: 40%;
        width: 300px;
        height: 27px;
        font-size: 9px;
    }

    60% {
        opacity: 60%;
        width: 400px;
        height: 36px;
        font-size: 12px;
    }

    80% {
        opacity: 80%;
        width: 500px;
        height: 48px;
        font-size: 15px;
    }

    100% {

        opacity: 100%;
        width: 600px;
        height: 55px;
        font-size: 18px;
    }
}

button:hover {
    cursor: pointer;
    border: 3px solid orange;
    background-color: rgb(244, 244, 247);
    color: orange;
    font-weight: 500;
    transition: 0.4s;
}

footer {
    background-color: #0f172b;
    height: 100px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerdiv {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.footerdiv i {
    font-size: 30px;
    cursor: pointer;
}

.footerdiv i:hover {
    transform: scale(1.3);
}