@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    overflow-x: hidden;
    
}


header{
    font-family: sans-serif;
    background-color: #0f172b;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

nav{
    font-size: 19px;
    padding-left: 360px;
    display: flex;
    align-items: center;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 80px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


a:hover{
    color: orange;
}

li:hover{
    transform: scale(120%);
    
}

li{
    padding: 15px 15px;
    border-radius: 30px;
    transition: 0.3s;
}

h2{
    font-size: 30px;
    font-family: cursive;
    padding-left: 100px;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}



@keyframes changeColor{
    from{
        color: orange;
        
       
    }
    30%{
        color: orange;
        transform: translate(32px, 32px);
       
    }

    70%{
        color: orange;
        transform: translate(60px,-37px);
    }
    to{
        color: orange;
    }
}


/* ==================================== */


h1{
    margin-top: 100px;
    text-align:center;
    font-family: "Parisienne", serif;
    color: orange;
}

h3{
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    color: #0f172b;
}

.div1{
    display: flex;
    align-items: center;
    /* height: 100px; */
    width: 100%;
    margin-top: 80px;
    justify-content: space-evenly;
    
}


.div1 div{
    padding-left: 30px;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: start; */
    
    
}


div h6{
    font-size: 35px;
    font-family:"Parisienne", serif ;
    color: orange;
    margin-top: 30px;
}

div p{
    font-size: 20px;
    margin-top: -80px;
    opacity: 50%;
}


.erti i{
    position: relative;
    top: -55px;
    left: -23px;
    
}

i{
    color: orange;
}
