body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    overflow-x: hidden;
    
}


header{
    font-family: sans-serif;
    background-color: #0f172b;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}

nav{
    font-size: 19px;
    padding-left: 360px;
    display: flex;
    align-items: center;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 80px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


a:hover{
    color: orange;
}

li:hover{
    transform: scale(120%);
    
}

li{
    padding: 15px 15px;
    border-radius: 30px;
    transition: 0.3s;
}

h2{
    font-size: 30px;
    font-family: cursive;
    padding-left: 100px;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}



@keyframes changeColor{
    from{
        color: orange;
        
       
    }
    30%{
        color: orange;
        transform: translate(32px, 32px);
       
    }

    70%{
        color: orange;
        transform: translate(60px,-37px);
    }
    to{
        color: orange;
    }
}
