@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 120vh;
    overflow-x: hidden;
    
}


header{
    font-family: sans-serif;
    background-color: #0f172b;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
    position: relative;
    top: -300px;
    animation: headerMove 2s forwards ease-out;
}


@keyframes headerMove{
    0%{
        position: relative;
        top: -300px;
    }
    100%{
        position: relative;
        top: 0;
    }
}

nav{
    font-size: 19px;
    padding-left: 360px;
    display: flex;
    align-items: center;
}


ul{
    list-style-type: none;
    display: flex;
    gap: 80px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}


a:hover{
    color: orange;
    
}

li{
    padding: 15px 15px;
    border-radius: 30px;
}

li:hover{
    transform: scale(120%);
    transition: 0.3s;
}

h2{
    font-size: 30px;
    font-family: cursive;
    padding-left: 100px;
    animation-name: changeColor;
    animation-duration: 4s;
    animation-iteration-count: infinite;
   
}



@keyframes changeColor{
    from{
        color: orange;
        
       
    }
    30%{
        color: orange;
        transform: translate(32px, 32px);
       
    }

    70%{
        color: orange;
        transform: translate(60px,-37px);
    }
    to{
        color: orange;
    }
}




.section1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    font-family: "Parisienne", serif;
    transform: scale(1.5);
    color: orange;
}


.section1 h1{
    font-family: "Parisienne", serif;
    transform: scale(1.5);
    color: orange;
    position: relative;
    top: -200px;
    animation: h1move 3s forwards ease-out;
}


.section1 h3{
    font-family: sans-serif;
    color: #0f172b;
    transform: scale(1.4);
    margin-top: 0px;
    animation: h1move 2s forwards ease-out;
}

@keyframes h1move{
    0%{
        position: relative;
        top: -200px;
    }

    100%{
        position: relative;
        top: 0;
    }
}



.gridsection{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 310px 310px 310px 310px ;
    grid-template-rows: 360px;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.gridsection .imgdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(239, 246, 243);
    padding: 30px 30px;
    border: 1px solid orange;
    border-radius: 5dpx;
}

.gridsection .imgdiv img{
    border-radius: 50%;
    width:260px ;
}

.imgdiv{
    border-radius: 5px;
}

.imgdiv h4{
    font-family: cursive;
    transform: scale(1.4);
}


.gridsection div img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}


.iftdiv{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.iftdiv i{
    cursor: pointer;
    font-size: 25px;
}

.iftdiv i:hover{
    color: orange;
    transform: scale(1.3);
    transition: 0.3s;
    
}


#firstdiv{
    position: relative;
    left: -500px;
    animation: imgkey forwards ease-out 3s;
    animation-delay: 4s;
}

#seconddiv{
    position: relative;
    left: -800px;
    animation: imgkey2 forwards ease-out 3s;
    animation-delay: 2s;

}

#thirddiv{
    position: relative;
    right: -800px;
    animation: imgkey3 forwards ease-out 3s;
    animation-delay: 2s;

}
#fourthdiv{
    position: relative;
    right: -400px;
    animation: imgkey4 forwards ease-out 3s;
    animation-delay: 4s;
}

@keyframes imgkey{
    0%{
        position: relative;
        left: -400px;
    }

    100%{
        position: relative;
        left: 0px;

    }
}


@keyframes imgkey2{
    0%{
        position: relative;
        left: -800px;
    }

    100%{
        position: relative;
        left: 0px;

    }
}





@keyframes imgkey3{
    0%{
        position: relative;
        right: -800px;
    }

    100%{
        position: relative;
        right: 0px;

    }
}



@keyframes imgkey4{
    0%{
        position: relative;
        right: -400px;
    }

    100%{
        position: relative;
        right: 0px;

    }
}
